@font-face {
  font-family: "veener";
  src: url("../public/font/Veneer.ttf");
  
  
}
body{
  font-family: "veener";
  
  
}


.wrapper{
  display: flex;
  flex-direction: column;
  
  background-image: url("../public//banner.jpg");
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  border-bottom:  2px solid  rgb(185, 21, 21);
  

}

.header{
  font-family: "veener";
  background-image: url("../public/nav-bar.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 5px;
  border-radius: 5px;
  width: 1000px;
  
  
  
}
.header a{
  margin: 5px 30px;
  padding: 2px;
  color: whitesmoke;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  opacity: 1;
  
  
}
.header a img{
  margin-left: 5px;
  background-color: rgb(185, 21, 21);
  color: white;
  border-radius: 50%;
  opacity: 1;
}
.headerlogo{
  width: 150px;
  margin-right: 40px;
}

.home{
  display: flex;
  align-items: center;
  margin-left: 40px;
  margin-top: 40px;
  padding: 50px;
  
  
}
.home-sub-text{
  display: flex;
  flex-direction: column;
  color: whitesmoke;

  
}
.home-sub-text h2{
  font-size: 30px;
  font-weight: 300px;
} 
.colored{
  font-size: 60px;
}
.evil-text{
  background-color: rgb(185, 21, 21);
  border: 0;
  border-radius: 5px;
  padding: 2px;
}
.home-button{
  margin-top: 10px;
  background-color: rgb(185, 21, 21);
  border: 0;
  padding: 10px 10px;
  border-radius: 10px;
  color: whitesmoke;
  font-size: 15px;
  font-weight: bold;
  
  cursor: pointer;
  width: 200px;
  
}
.calender{
display: flex;
flex-direction: column;
background-color: rgb(185, 21, 21);
border-radius: 10px;
padding: 5px 5px;
margin: 10px 10px;
padding: 10px 10px;
align-items: center;
width: 30px;
}
.main-calender{
  display: flex;
}

#bottom-red{
  background-color: rgb(185, 21, 21);
  margin-top: 0px;
  padding: 20px 0px;
  border: 0px;
  border-radius: 5px;
  

}



.RoadMap{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  position: relative;
  background-image: url("../public/road-map-bg.jpg");
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  min-height: 100vh;
  border-bottom:  2px solid  rgb(185, 21, 21);
  

}

.roadMapHeading{
  color: whitesmoke;
}
.roadMapImg{
  position: absolute;
  bottom: 0;
}
.meetTheTeam{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  background-color: black;
  border-bottom:  2px solid  rgb(185, 21, 21);

}
.meetTheTeam h2{
  color: whitesmoke;
  
}
.team{
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 50px;
  
  

}
.teamMembers{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10x;
  margin: 10px 20px;

}
.teamMembers h3, .teamMembers small,.teamMembers span {
  color: white;
}
.FAQ{
  background-image: url("../public/faq-bg.png");
  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
  display: flex;
  justify-content: flex-end;
  padding-right: 90px;
  height: 125vh;
 
  
}
.h2{
     font-size: 50px;
     
     
}
.faq-text{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  cursor: pointer;
  overflow: hidden;
}
.faq-text div{
  font-size: 25px;
  margin: 10px 2px;
  border-bottom: 1px solid rgb(233, 227, 227);
  padding: 10px;
  
  
} 
.images{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  
}

.images img {
  
  margin: 10px;

}
.navButton{
  background-color: rgb(185, 21, 21);
  border: 0;
  border-radius: 10px;
  padding: 20px 10px;
  color: whitesmoke;
  cursor: pointer;
  
  

}
.footer{
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}
.footer-icon{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  padding: 20px;
  border-bottom: 1px solid rgb(233, 227, 227);
}
.lastHeading{
  color: whitesmoke;
  padding: 20px;
  text-align: center;
}
.roadmapCircles{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 5%;
  

}

.roadmapCircles div img{
  
  margin-left: 10px;
  margin-top: 20px;
  padding: 10px;
}
.roadmapCircles div button{
  background-color: rgb(185, 21, 21);
  padding: 5px;
  margin: 5px;
  border: 0px;
 border-radius: 5px;
 color: whitesmoke;
}
.sideHeading{
  margin-left:770px;
}
.roadmApText{
  display: flex;
  flex-direction: column;
  background-color: black;
  border-radius: 20px;
  padding: 20px 50px;
  margin-bottom: 200px;
  flex-direction: column;
  justify-content: center;
  
}
.teamMembers img{
  height: 200px;
  width:200px
}
.imagesWraper{
  background-color: black;
   
}


#number{
  color: rgb(185, 21, 21);
}
.anewers{
  display:none;
}
.answerVisible{
  background-color:rgb(185, 21, 21) ;
  display: block;
  border: 0px;
}
#achor{
  opacity: 100% !important;
  color: white;
}
#no{
  color: white;
  font-size: 30px;
}
#te{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 8.5px;
  padding-top: 2px;
}






@media all and (max-width: 900px) {
.FAQ{
  background-image: url("../public/faq-bg.png") no-repeat center center fixed;
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    width: 100%;
}

  .wrapper{
    background-image: url("../public//banner.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    width: 100%;
  }
  .header{
    display: flex;
    width: 600px;
    
  }
  .header a{
    display: flex;
    padding: 2px;
    margin: 5px;
    
    
  }
  .flexHeader{
    display: flex !important;
   
  }
  .header a img{
    margin-left: 2px;
    height: 30px;
    width: 30px;
    
  }
  .teamMembers img{
     height: 50px;
     width: 70px;
  }
  .sideHeading{
    margin-left:200px;
  }
  .images{
    display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  }
  .images img {
    
    
    
  }
  

  .navButton{
    background-color: rgb(185, 21, 21);
    border: 0;
    border-radius: 10px;
    padding: 7px 5px;
    color: whitesmoke;
    cursor: pointer;
    font-size: 15px!important;
  }
  .discodIcon{
    font-size: 10px !important;
  }
  .headerlogo{
    margin-right: 20px;
  }
  .FAQ{
    height: 150vh !important;
    
  }

  .images{
    background-color: black;
    

  }
  
  .images img {
    
    
    top: 10px !important;
  }
    
  
  
}
@media all and (max-width: 500px){


  .FAQ{
    background-image: url("../public/faq-bg.png") no-repeat center center fixed;
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
      width: 100%;
  }
  .wrapper{
    
      background-image: url("../public//banner.jpg") no-repeat center center fixed;
      -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
      width: 100%;
    }
  
  .header{
    display: flex;
    width: 460px;
    
  }
  .header a{
    display: flex;
    padding: 0px;
    margin: 2px;
    
    
  }
  .teamMembers{
    display: block !important;
    margin: 5px;
  }
  .teamMembers img{
    margin-top: 10px;
    height: 120px !important;
    width: 120px !important;
    display: block !important;
 }
 .roadMapImg{
   width: 300px;
 }
 .images{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
 }
 .images img {
    
  
  
  

}

.team{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.FAQ{
  height: 180vh !important;
  
}

.faq-text{
  margin-left: 20px;
}
}
@media all and (max-width: 440px){
  .calender{
    padding: 5px 25px !important;
    margin-bottom: 20px;
  }

  .FAQ{
    background-image: url("../public/faq-bg.png") no-repeat center center fixed;
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
      width: 100%;
  }
  .FAQ{
    background-image: url("../public/faq-bg.png") no-repeat center center fixed;
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
      width: 100%;
  }
  .wrapper{
    width: 400px;
    height: 500px;
  }

  .header{
    display: flex;
    flex-direction: column;
    width: 200px;
   }
   .header a{
     display: block;
     
   }
   .team{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     text-align: center;
   }
   .teamMembers img{
     text-align: center;
   }
   .images img {
   
   }
   .FAQ{
     margin-left: 50px;
   }
   .sideHeading{
    margin-left:50px;
  }
  .FAQ{
    height: 220vh !important;
    
  }
  
}
@media all and (max-width: 1000px){
  .images img {
    
   
    width: 400px !important;
    height: 400px !important;
    margin: 5px;
    padding: 0px;
    top: 0px;
    bottom: 0px;
  }
  .FAQ{
    height: 150vh !important;
    
  }


}
@media all and (max-width: 1300px){

  .images img {
   
  }
  .FAQ{
    height: 150vh !important;
    
  }

}


@media all and (max-width: 440px){
  .roadmApText{
    overflow-y: hidden !important;
  }
  .evil-text{
    background-color: rgb(185, 21, 21);
    border: 0;
    border-radius: 5px;
    padding: 2px;
  }
  .wrapper{
    background-image: url("../public//banner.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    width: 100%;
  }
  *{
    margin: 0px !important;
    box-sizing: border-box;
    overflow-x: hidden !important;
   
    
  }
  .wrapper{
    height: 130vh !important;
    width: 100%;
  }

  .header{
    position: relative;
    margin-top:0px;
    width: 100%;
    
   }
   .flexHeader{
     display: flex !important;
    
   }
   
   .header a{
    margin: 10px 5px !important;
    padding: 0 !important;
    
    

    
   }
   .team{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     text-align: center;
   }
   .teamMembers img{
     text-align: center;
     margin: 10px !important;
   }
   .images{
     
    
   }
   .images div img {
    width: 80% !important ;
    height: 80% !important;
    margin: 10px 0px !important;
    
 
    
    
   }
   .FAQ{
     margin-left:0px !important;
   }
   .sideHeading{
    margin-left: 0px !important;
  }
  .FAQ{
    height: 100vh !important;
    width: 400px !important;
    
  }

  .faq-text h2{
   margin-left: 200px !important;
  }
  .faq-text div{
    font-size: 12px !important;
    margin-left: 10px!important;
    margin-top: 20px !important;
    overflow-wrap: break-word;

    
  }
  .faq-text{
    margin-top: 100px !important;
    margin-left: 50px !important;
  }
 
 

  .navButton{
    background-color: rgb(185, 21, 21);
    border: 0;
    border-radius: 10px;
    padding: 10px 10px !important;
    color: whitesmoke;
    cursor: pointer;
    font-size: 10px !important;
  
}
.discodIcon{
  font-size: 12px !important;
}
.roadmApText{
  margin-bottom: 200px !important;
}
.header a img, .discodIcon{
  margin: 5px !important;

}
.home-sub-text{
  width: 100% !important;
}
.calender{
  margin: 5px !important;
}

}
@media all and (main-width: 1000px){
  .images{
   
  }
  
  .images img {
    
  }

}
@media all and (max-width: 1452px){
  .images{
   

  }
  
  .images img {
   
  }

}
@media all and (max-width: 2400px){
  .images{
    

  }
  
  .images img {
   
  }

}
@media all and (max-width: 1100px){
  .images img {
     position: static !important;
  }



}






